*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

/*menu */
nav.menutren{
   
    width: 100%;
    height: 100px;
    /* background-color: rgba(241, 241, 241, 0.795); */
    background: linear-gradient(to right,rgba(255, 255, 12, 0.678) , rgba(223, 50, 7, 0.678), rgba(231, 231, 31, 0.678) , rgba(196, 44, 6, 0.678),rgb(231, 231, 31,0.678) , rgba(196, 44, 6, 0.678));
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0.486);
    position: fixed;
    z-index: 7;
    bottom: 0;
    color:black;
    
}
.menutren ul{
    display: flex;
    list-style: none;
}
.menutren ul li{
    width: 120px;
    margin-left: 30px;
    height: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menutren ul li div{
  
    font-weight: bold;
    font-size: 17px;
    transition: 0.5s;
    cursor: pointer;
    color: black;
}
.menutren ul li div:hover,
.menutren--dang_nhap:hover{
    color: white;
    
}
.menutren--ten_web{
    margin-top: 10px;
    margin-left: 10px;
    width: 130px;
    height: 80%;
    background-image: url(img/ten-web.png);
    background-size: cover;
    
}
.menutren--dang_nhap{
    width: 160px;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.dang_nhap--icon{
    font-size: 30px;
}

/* main */

.main--banner_first{
    width: 100%;
    height: 750px;
    position: relative;
    overflow: hidden;
}
.main--banner_first video{
    width: 100%;
    height: 120%;
    position: absolute;
    top: -80px;
    left: 0;
}

/* main--part */

.main--part_1{
    display: block;
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 2;
}
.main--part_1::after{
    display: block;
    content: "";
    background-image: url(img/part-1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.main--part_1 .main--part--title{
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 70px;
    padding-top: 70px;
    font-family: 'Anton', sans-serif;
}

.main--part--content--tinh_hinh_dich{
    width: 100%;
    padding-top:110px;
    padding-left: 15%;
    height: 700px;
}   
.main--part--content--tinh_hinh_dich--trong_nuoc{
    float: left;
    width: 40%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.397);
}
.main--part--content--tinh_hinh_dich--the_gioi{
    display: inline-block;
    width: 40%;
    text-align: center;
    background-color: rgba(78, 175, 255, 0.397);
}
.main--part--content--tinh_hinh_dich span{
    display: block;
    margin-bottom: 25px;
}
.main--part--content--tinh_hinh_dich--the_gioi span:nth-child(2),
.main--part--content--tinh_hinh_dich--trong_nuoc span:nth-child(2){
    color: rgba(255, 45, 45, 0.897);
}
.main--part--content--tinh_hinh_dich--the_gioi span:nth-child(3),
.main--part--content--tinh_hinh_dich--trong_nuoc span:nth-child(3){
    color: rgb(255, 115, 0);
}
.main--part--content--tinh_hinh_dich--the_gioi span:nth-child(4),
.main--part--content--tinh_hinh_dich--trong_nuoc span:nth-child(4){
    color: green;
}
.main--part--content--tinh_hinh_dich--the_gioi span:nth-child(5),
.main--part--content--tinh_hinh_dich--trong_nuoc span:nth-child(5){
    color: rgb(80, 80, 80);
}
.main--part--content--tinh_hinh_dich p{
    margin-top: 40px;
    padding-top: 10px;
    height: 40px;
    display: block;
   margin-left: 26%;
   width: 400px;
   text-align: center;
   background-color: rgba(255, 136, 0, 0.233);
   border-radius: 50%;
   
}
.main--part--content--tinh_hinh_dich--the_gioi > h2{
    background-color: rgba(44, 143, 255, 0.829);

    color: white;
    display: block;
    margin-bottom: 30px;
    
}
.main--part--content--tinh_hinh_dich--trong_nuoc> h2{
    background-color: rgba(252, 59, 59, 0.726);

    color: white;
    display: block;
    margin-bottom: 30px;
}

.main--part_2{
    display: block;
    width: 100%;
    height: 700px;
    background-image: url(img/hinh-2-test.jpg);
    background-size: cover;
    position: relative;

}
.main--part_2 .main--part--title{
    width: 700px;
    height: 300px;
    position: absolute;
    right: 70px;
    top: 60px;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}
.main--part_2 .main--part--content ul{
    position: absolute;
    width: 550px;
    height: 350px;
    right: 150px;
    top: 250px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main--part_2 .main--part--content ul div{
    background-color: rgba(255, 182, 47, 0.63);
    height: 50px;
    font-size: 22px;
    padding-top: 12px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}
.main--part_2 .main--part--content ul div:hover{
    background: orange;
}
.main--part--content--parts_2--detail{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
    background-color:rgba(255, 255, 255, 0.486);
    display: none;
    z-index: 10;
 
}

.main--part--content--part_2--detail{
    width: 900px;
    background-image: url(img/part-2-nen.png);
    background-size: cover;
    position: absolute;
    left: 300px;
    top: 50px;
    padding: 45px;
    padding-left: 100px;
    display: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    color: black;
}



.main--part_3{
    width: 100%;
    height: 800px;
    background-color: white;
    background-size: cover;
    overflow: hidden;
}.main--part_3 .main--part--title{
    width: 70%;
    margin: auto;
    height: 200px;
    left: -200px;
    top: 100px;
    font-size: 23px;
    text-align: center;
    padding-top: 50px;
    color: rgba(233, 190, 0, 0.856);
    border-bottom: solid 10px rgba(255, 178, 35, 0.842);
    border-radius: 25px;
    
}
.main--part_3 .main--part--title > h1{
    font-family: 'Anton', sans-serif;
}
.main--part_3 .main--part--content{
    /* background: linear-gradient(to right,yellow,green,yellow); */
    width: 100%;
    height: 600px;
    padding: 80px;
    padding-left: 250px;
    display: flex;
}
.main--part_3 .main--part--content--hinh_1{
    width: 280px;
    height: 490px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-left: 50px;
    background: linear-gradient(white,green,orange,white);
    border-bottom: none;
    font-family: 'Style Script', cursive;
}
.main--part_3 .main--part--content--hinh_1 img{
    margin-bottom: 10px;
}


.main--part_4{
   
    width: 100%;
    height: 800px;
    background-image: url(img/hinh-3.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: black;
    
}

.main--part_4::before{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 800px solid transparent;
    border-right: 800px solid transparent;
    border-bottom: 800px solid  rgba(255, 255, 255, 0.726);
    transform: rotate(225deg);
    bottom: -150px;
    left: -550px;
    z-index: inherit;
}
.main--part_4 .main--part--title{
    width: 800px;
    height: 300px;
    position: absolute;
    left: -200px;
    top: 100px;
    font-size: 25px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.main--part_4 .main--part--content ul{
    position: absolute;
    width: 550px;
    height: 350px;
    left: 100px;
    top: 250px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main--part_4 .main--part--content ul div{
    height: 50px;
    font-size: 22px;
    padding-top: 12px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.main--part_4 .main--part--content ul div:hover{
    color: rgba(252, 25, 25, 0.822);
    font-size: 30px;
}
.main--part--content--parts_4--detail{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
    background-color:rgba(255, 255, 255, 0.486);
    display: none;
    z-index: 10;
 
}
.main--part--content--part_4--detail{
    width: 1000px;
    height: 600px;
    background-image: url(img/part-2-nen.png);
    background-size: cover;
    position: absolute;
    left: 300px;
    top: 50px;
    padding: 50px;
    padding-left: 100px;
    display: none;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;

} 
.main--part--content--part_4--detail:nth-child(1){
    background-image: url(img/p4/1.jpg);
    color: white;
}
.main--part--content--part_4--detail:nth-child(2){
    background-image: url(img/p4/2.jpg);
    color: black;
    padding-right: 250px;
    padding-left: 50px;
}
.main--part--content--part_4--detail:nth-child(3){
    background-image: url(img/p4/3.jpg);
    color: rgb(0, 16, 240);
    padding-top: 20px;

}
.main--part--content--part_4--detail:nth-child(4){
    background-image: url(img/p4/4.jpg);
    color: rgb(46, 12, 0);

}
.main--part--content--part_4--detail:nth-child(5){
    background-image: url(img/p4/5.jpg);
    padding-top: 200px;
    position: relative;
}
.blur {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px); 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
 .nd{
    position: absolute;
    z-index: 9;
    color: rgb(209, 0, 0);
    padding-right: 80px;
}


.main--part_5{
    width: 100%;
    height: 800px;
    background-color: white;
    background-size: cover;
 
}
.main--part_5 .main--part--title{
    font-family: 'Style Script', cursive;
    font-size: 26px;
    font-weight: 800;
    padding:20px;
    color: rgb(141, 92, 0);
     background-image: linear-gradient(to bottom, #bd6226, #65e0ff, #7edeb6, #bd6f26);
    background-size: auto 250%;
    transition: background-position 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0 100%;
    display: flex;
}
.main--part_5 .main--part--title h1{
     font-family: 'Anton', sans-serif;
}
.main--part_5 .main--part--title--chu{
    width: 80%;
    height: 170px;
    
}
.main--part_5 .main--part--title--nen{
    background-image: url(img/p5/nen.png);
    /* background-size: contain;
    background-repeat: no-repeat; */
    background-size: cover;
    width: 200px;
    height: 170px;

}
.main--part_5 .main--part--content{
    height: 610px;
    width: 100%;
    background:linear-gradient(to right,orange,rgba(255, 223, 165, 0.925),orange,rgba(255, 223, 165, 0.925),orange,rgba(255, 223, 165, 0.925),orange);
    padding-left: 31.5%;
    word-wrap: break-word;
    position: relative;
    
}
.main--part--content--cau_chuyen_1{
    display:flex;
}
.main--part_5 .main--part--content--button_next{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 50%;
    text-align: center;
    padding-top:30px;
    font-size: 30px;
    right: 200px;
    top: 200px;
    cursor: pointer;
    transition: 0.5s;
}
.main--part_5 .main--part--content--button_pre{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 50%;
    text-align: center;
    padding-top:30px;
    font-size: 30px;
    left: 200px;
    top: 200px;
    cursor: pointer;
    transition: 0.5s;
}
.main--part_5 .main--part--content--button_next:hover,
.main--part_5 .main--part--content--button_pre:hover{
    background-color: white;
}
.main--part--content--button ul {
    position: absolute;
    width: 120px;
    bottom: 7%;
    left: 50%;
    margin-left: -50px;
    display: flex;
    justify-content: space-between;
    
   
 }
.main--part--content--button ul li {
    width: 20px;
    height: 20px;
    background: white;
    opacity: 0.6;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
    border:solid 2px black;

 }
 .main--part--content--button ul .cau_chuyen--active {
    background-color: black;
    transition: 0.5s;
 }
.main--part--content--cau_chuyen_1 img{
    display: none;
}
.main--part_5 .cau_chuyen--active{
    display: block;
}
.main--part_6{
    width: 100%;
    height: 800px;
    background-image: url(img/p6/hinh-nen-2.gif);
    background-size: cover;
    background-attachment: fixed;
}
.main--part_6 .main--part--title{
    color: white;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Anton', sans-serif;
}
.main--part_6 .main--part--content{
    width: 100%;
    height: 600px;
    background: rgba(255, 255, 255, 0.336);
}
.main--part--content--man_hinh{
    width: 70%;
    height: 100%;
    background: url(img/p6/nuituyet.jpg);
    background-size: cover;
    margin:auto;
    position: relative;
    overflow: hidden;
    cursor:url(img/p6/png.png),auto;
    
}
.main--part--content--man_hinh-giao-dien{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 250px;
}
.main--part--content--man_hinh-giao-dien h2 {
    background-color: rgba(255, 113, 31, 0.705);
    padding: 20px;
    width: 200px;
    margin: auto;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.main--part--content--man_hinh-giao-dien h2:hover{
    background-color: rgb(194, 0, 0);
}
/* footer */
.footer{
    width: 100%;
    height: 680px;
    background-image: url(https://f20-zpc.zdn.vn/2068415846517814914/6b1181616bbf9ce1c5ae.jpg);
    background-size: cover;
    padding: 100px;
}
.footer a {
    text-decoration: none;
    color: black;
}
.footer--tren{
    width: 700px;
    margin: auto;
    border-bottom: solid 1px black;
    height: 150px;
}
.footer--tren_thong_tin{
    display: flex;
    justify-content: space-around;
}
.footer--tren_follow--follow{
    display: flex;
    margin-top: 5px;
    width: 200px;
}

.footer--tren_follow--follow--block{
    width: 40px;
    height:40px;
    margin-right: 10px;
    color:white;
    cursor: pointer;
    border-radius: 12px;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.footer--tren_follow--follow--block:nth-child(1){
    background: linear-gradient(#3B5998,#4267b2 50%,#365899);
}
.footer--tren_follow--follow--block:nth-child(2){
    /* font-size: 40px; */
    background-color: #1DA1F2;
}
.footer--tren_follow--follow--block:nth-child(3){
    font-size: 35px;
    background: linear-gradient(to top right,rgb(245, 133, 41), rgb(254, 218, 119),rgb(221, 42, 123),rgb(129, 52, 175),rgb(81, 91, 212));
}
.footer--tren_follow--follow--block:hover{
    width: 44px;
    height: 44px;

}
.footer--tren h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.footer--tren h2{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
.footer--duoi{
    width: 700px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
}
.footer--duoi--nhap{
    height: 90%;
    display: flex;
}
.footer--duoi--nhap_trai{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer--duoi--nhap_phai{
    margin-left: 10px;
}
.footer--duoi--nhap_trai input{
    height: 28%;
    width: 350px;
    padding-left: 10px;
    background-color:inherit;
    font-size: 14px;
    border: solid 1px black;
}
.footer--duoi--nhap_phai textarea{
    height: 100%;
    width: 350px;
    padding-top: 6px;
    padding-left: 10px;
    background-color:inherit;
    font-size: 14px;
    border: solid 1px black;
}
.footer--duoi button{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

/* option2 */
.register{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/test_nen.jpg);
    background-size: cover;
    display: none;
    z-index: 10;
}
.register-active{

    animation: appear 0.7s;
}
.register-inactive{
    animation: disappear 0.7s;

  
}
@keyframes appear{
    from{
    opacity: 0;}
    to {
    opacity: 1;}
}
@keyframes disappear {
    from{
       
        opacity: 1;}
    to {
        
        opacity: 0;}
}

.register-form,
.register-form-2{
    width: 320px;
    height: 400px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    position: absolute;
    position: fixed;
    left: 40%;
    top: 25%;
    border-radius: 2px;
    border: 2px solid gray;
    display:none;
}
.register-form-2{
    height: 550px;
    top: 15%;

}
.register-form > h2,
.register-form-2 > h2{
    font-family: 'Oswald', sans-serif;
}
.register-active{
    display: flex;
}
.register-form h3,
.register-form-2 h3{
    margin-bottom: 10px;
    font-size: 15px;
}
.register-form input,
.register-form-2 input{
    width: 95%;
    height: 25px;
    font-size: 15px;
    padding: 3px;
    padding-left: 10px;
}
.trans_register h3{
    float:right;
    text-align: left;
    color: green;
    margin-right: 15px;
    cursor: pointer;
    
}

.submit-1,
.submit-2{
    text-align: center;
}
.submit-1 button,
.submit-2 button{
    width: 150px;
    height: 30px;
    font-size: 15px;
    background-color: rgba(0, 128, 0, 0.349);
    border-radius: none;
}
.submit-thoat button
{
    background-color:rgba(255, 24, 24, 0.76);
}
.register-form h2,
.register-form-2 h2{
    text-align: center;
    font-weight: 900;
}
.report_error{
    color: red;
    font-size: 11px;
}

/* option3 */
.scroll_to_head{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.541);
    position: fixed;
    bottom: 20px;
    right: 10px;
    color:gray;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}

/* option4 */
.call{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(#D4145A,#FBB03B);
    border: solid 1px rgb(201, 130, 0);
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: white;
    position: fixed;
    bottom: 12px;
    left: 20px;
    z-index: 5;
    animation: call_ani 3s infinite;
    cursor: pointer;
}
@keyframes call_ani {
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(30deg);
    }
    80%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* hieu-ung-dung-them */
.bien-mat-ben-trai{
    animation: bien-mat-ben-trai 1s forwards;
 }
 @-webkit-keyframes bien-mat-ben-trai{
    from{
       transform: translateX(0%);
    }
    to{
       transform: translateX(-100%);
    }
 }
 .di-vao-ben-phai{
    animation: di-vao-ben-phai 1s forwards;
 }
 @-webkit-keyframes di-vao-ben-phai{
    from{
       transform: translateX(100%);
    }
    to{
       transform: translateX(0%);
    }
 }
 /*xử lý nút prev*/
 .bien-mat-ben-phai{
    animation: bien-mat-ben-phai 1s forwards;
 }
 @-webkit-keyframes bien-mat-ben-phai{
    from{
       transform: translateX(0%);
    }
    to{
       transform: translateX(100%);
    }
 }
 .di-vao-ben-trai{
    animation: di-vao-ben-trai 1s forwards;
 }
 @-webkit-keyframes di-vao-ben-trai{
    from{
       transform: translateX(-100%);
    }
    to{
       transform: translateX(0%);
    }
 }
.active{
    display: block;
    animation: appear 1s;
}
.bat-dau{
    display: none;
}
/* game */
.main--part--content--game--con_virut{
    position:absolute;
    border-radius: 50%;
    background-image: url(img/p6/corona.png);
    background-size: cover;
    width: 200px;
    height: 120px;
    

}
.main--part--content--man_hinh-game--chi_so{
    display: flex;
    color: red;
    position: absolute;
    bottom: 0;
    left:0;
    width: 500px;
    justify-content: space-around;
}
@keyframes chuyen-dong-0{
    100%{
        transform: translate(100vw,100vh);
    }
}
@keyframes chuyen-dong-1{
    100%{
        transform: translate(80vw,50vh);
    }
}
@keyframes chuyen-dong-2{
    100%{
        transform: translate(-80vw,0vh);
    }
}
@keyframes chuyen-dong-3{
    100%{
        transform: translate(-50vw,-20vh);
    }
}
@keyframes chuyen-dong-4{
    100%{
        transform: translate(-60vw,80vh);
    }
}
@keyframes chuyen-dong-5{
    100%{
        transform: translate(70vw,-30vh);
    }
}
@keyframes chuyen-dong-6{
    100%{
        transform: translate(60vw,0vh);
    }
}
@keyframes chuyen-dong-7{
    100%{
        transform: translate(-60vw,0vh);
    }
}
@keyframes chuyen-dong-8{
    100%{
        transform: translate(0vw,80vh);
    }
}
@keyframes chuyen-dong-9{
    100%{
        transform: translate(0vw,-80vh);
    }
}
gameover{
    display: block;
    width: 200px;
    color: red;
    font-size: 30px;
    margin: auto;
    margin-top: 270px;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
}
gameover:hover{
    background-color: ghostwhite;
}